@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #943939;
  --secondary-color: #e74f75;
  --accent1-color: #a43312;
  --accent2-color: #381d2a;
  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
  --navigation-bg-color: #396e94;
  --navigation-link-color: #ffffff;
  --navigation-hover-link-color: #e7c24f;
  --navigation-hover-bg-color: #381d2a;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  padding: 10px;
  background-color: var(--primary-color);
}

main {
  padding: 20px 0;
}

nav {
  background-color: var(--navigation-bg-color);
  padding: 10px;
}

nav a {
  color: var(--navigation-link-color);
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover {
  color: var(--navigation-hover-link-color);
  background-color: var(--navigation-hover-bg-color);
}

footer {
  text-align: center;
}
